.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 60px;
  top: 100px;
  z-index: 1;
  width: 320px;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2);
}

.menu-bar {
  display: flex;
  padding: 12px 16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px 8px 0px 0px;
  border-bottom: 0.5px solid #ccc;
  background: #fff;
}

.menu-btn {
  display: flex;
  padding: 6px 10px;
  justify-content: center;
  align-items: center;

  color: var(--border-gray-color);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 4px;
  border: 2px solid var(--border-gray-color);
}
.menu-btn.selected {
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}
