.school-search {
  display: flex;
  flex-direction: column;
  padding: 16px;
  max-height: 450px;
  border-radius: 0px 0px 8px 8px;
  background: #fff;
}

.search-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.school-list {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  padding-right: 4px;
  border-radius: 0px 0px 8px 8px;
  background: #fff;
  overflow-y: scroll;
}
.school-list::-webkit-scrollbar {
  width: 8px;
}
.school-list::-webkit-scrollbar-thumb {
  background-color: #007bff;
  border-radius: 10px;
}
.school-list::-webkit-scrollbar-thumb:hover {
  background-color: #60a5fa;
  cursor: pointer;
}
.school-list::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

.school-item {
  width: 100%;
  padding: 12px 0 12px 10px;
  border-top: 1px solid #ccc;
  cursor: pointer;
}
.school-item:first-child {
  border-top: none;
  padding-top: 0;
}
.school-item.selected {
  color: var(--secondary-color) !important;
}
