.school-search {
  display: flex;
  flex-direction: column;
  padding: 16px 20px;
  border-radius: 0px 0px 8px 8px;
  background: #fff;
}

.search-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.school-list {
  display: flex;
  flex-direction: column;
  padding-top: 16px; /* BUG: margin-top으로 바꾸기*/
  border-radius: 0px 0px 8px 8px;
  border-top: 1px solid #ccc;
  background: #fff;
}

.school-item {
  width: 100%;
  padding: 12px 0 12px 10px;
  border-top: 1px solid #ccc;
  cursor: pointer;
}
.school-item:first-child {
  border-top: none;
  padding-top: 0;
}
.school-item.selected {
  color: var(--secondary-color) !important;
}
