@import url(./index.css);

html,
body,
#root {
  height: 100%;
}

body {
  font-family: Pretendard, system-ui, sans-serif;
  font-size: var(--font-base-size);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

.layout {
  min-width: 100%;
  overflow: hidden;
}

.dropdown-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 50%;
  position: absolute;
  top: 32px;
  left: calc(50% - (50% / 2));
  z-index: 1;
}

.map-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 60px);
}
