@import 'normalize.css';
@import './reset.css';

:root {
  --font-base-size: 16px;
  --font-large-size: 20px;
  --font-small-size: 12px;

  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --primary-color: #0d436c;
  --secondary-color: #1d4fff;
  --school-color: #d1ff1b;
  --hover-bg-color: #60a5fa;
  --hover-text-color: #1e3a8a;
  --border-gray-color: #cccccc;

  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px;

  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
}
